.manage-banner.clearfix
  %p
    Sign in to start managing your starred GitHub repos.
    = link_to_github_signin(:class => 'btn btn-primary signin') do
      %i.icon.icon-sprite.icon-ctasignin
      Sign in with
      %strong GitHub

