- app_js ||= 'application'

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'

= javascript_include_tag app_js

= render 'layouts/init_views_js'

= render 'layouts/analytics_js'
